@{
    Layout = "_Layout";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 card p-4 shadow-lg border-top border-warning border-5">
            <h2 class="text-center text-warning">🔍 Investigator Login</h2>
            <hr />
            <form asp-controller="Account" asp-action="ProcessLogin" method="post">
                <input type="hidden" name="expectedRole" value="3" />
                <div class="mb-3">
                    <label class="fw-bold">Investigator Username</label>
                    <input name="u" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label class="fw-bold">Secure Password</label>
                    <input name="p" type="password" class="form-control" required />
                </div>
                @if (ViewBag.Error != null)
                {
                    <p class="text-danger">@ViewBag.Error</p>
                }
                <button type="submit" class="btn btn-warning w-100 fw-bold mb-3">Login to Dashboard</button>

                <a href="/" class="btn btn-link w-100 text-decoration-none text-muted small">
                    <i class="bi bi-arrow-left me-1"></i> Back to Portal Selection
                </a>
            </form>
        </div>
    </div>
</div>